/* Global */

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Heebo", sans-serif;
  letter-spacing: normal;
}

:root {
  --color-stone-50: #fafafa;
  --color-stone-100: #f4f4f5;
  --color-stone-200: #e4e4e7;
  --color-stone-300: #d4d4d8;
  --color-stone-400: #a1a1aa;
  --color-stone-500: #71717a;
  --color-stone-600: #52525b;
  --color-stone-700: #3f3f46;
  --color-stone-800: #27272a;
  --color-stone-900: #18181b;
  --color-stone-950: #09090b;
}

/* Header */

.navbar {
  height: 100px;
  width: 100%;
  background-color: var(--color-stone-900);
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  color: var(--color-stone-50);
  padding: 2rem 4rem;
  font-size: 2rem;
  cursor: pointer;
}

.navbar-links {
  padding: 2.5rem 4rem;
  font-size: 1.5rem;
}

.navbar-link {
  display: inline;
}

.navbar-link a {
  color: var(--color-stone-300);
  text-decoration: none;
  list-style: none;
  padding-left: 6px;
  transition: all 0.4s;
}

.navbar-link a:hover {
  opacity: 0.6;
}

/* Main */

.home-box {
  background-color: var(--color-stone-600);
  display: flex;
}

.home-info {
  width: 36rem;
  margin: 14rem;
}

.home-info h4 {
  color: var(--color-stone-50);
  margin-top: 4px;
  font-size: 1.5rem;
}

.home-info h3 {
  color: var(--color-stone-50);
  margin-top: 4px;
  font-size: 2.5rem;
}

.home-info p {
  color: var(--color-stone-100);
  margin-top: 4px;
  font-size: 1.25rem;
}

.home-info a {
  color: var(--color-stone-300);
  padding: 6px;
  margin: 6px;
  font-size: 1rem;
  text-decoration: none;
  font-style: none;
  transition: all 0.6s;
}

.home-info a:hover {
  opacity: 0.4;
}

.home-info button {
  background-color: transparent;
  border: 2px solid var(--color-stone-700);
  border-radius: 4%;
  font-size: 1.25rem;
  padding: 6px;
  margin: 4px;
  color: var(--color-stone-300);
  cursor: pointer;
}

.home-info button a {
  transition: all 0.6s;
}

.home-info button a:hover {
  opacity: 0.4;
}

.home-image {
  width: 22rem;
  border: 2px solid var(--color-stone-800);
  border-radius: 4%;
  margin: 12rem;
}

.about-box {
  background-color: var(--color-stone-500);
}

.projects-box {
  background-color: var(--color-stone-400);
}

/* Footer */

footer {
  height: 60px;
  width: 100%;
  background-color: var(--color-stone-900);
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: var(--color-stone-50);
  padding: 1rem 4rem;
  font-size: 1rem;
  align-self: center;
}

.footer-links {
  color: var(--color-stone-50);
  padding: 1rem 4rem;
  font-size: 1rem;
  align-self: center;
}

.footer-links a {
  color: var(--color-stone-300);
  text-decoration: none;
  list-style: none;
  padding-left: 6px;
  transition: all 0.4s;
}

.footer-links a:hover {
  opacity: 0.6;
}
