@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.btn a {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  color: black;
}

#header,
#footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#home,
#about,
#projects,
#contact {
  margin-top: 10rem;
}

.btn-primary,
.link,
.nav-link,
.bi {
  cursor: pointer;
  transition: all 0.6s;
}

.btn-primary:hover,
.link:hover,
.nav-link:hover,
.bi:hover {
  opacity: 0.6;
}

#profile-image {
  border: 1px solid gray;
}

.card-text {
  margin: 1.25rem;
}

.tech-icons {
  margin: 4px;
}

.content-box {
  color: black;
}
